html, body, #app, .app {
    height: 100%;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(85, 85, 85);
    font-size: 16px;
    /*background: rgb(252,252,252);*/
}

.navbar {
    background-color: rgba(174, 149, 155, 0.3);
}

.home {
    height: 100%;
    padding-top: 5%;
    text-align: center;
    /*background: url(/images/bg1.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;*/
    /*background: rgb(177,177,177);*/
    align-content: center;
}

.landing-text {
    margin-top: auto;
    margin-bottom: auto;
    /*
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    */
    background-color: rgba(0,0,0,0.02);
    padding: 2%;
}

.landing-text h4 {
    font-size: 200%;
}

.btn-landing {
    background-color: rgba(255,255,255,0.2) !important;     
    color: #000 !important;     
    text-shadow: #fff 0px 0px 5px !important;     
    font-weight: bold !important;     
    padding: 10px 30px 10px 30px !important;     
    margin-top: 2% !important;     
    margin-bottom: 2% !important;     
}

.btn-landing:hover {
    background-color: rgba(255,255,255,0.8);     
    color: #000;
    text-shadow: #fff 0px 0px 5px;
}

.laravel-color {
    color: #fb503b !important;
}
.react-color {
    color: #61dafb !important;
}

.btn-register-link {
    border: none;
    padding: 0;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    text-shadow: #fff 0px 0px 5px;
}

.login-register-text {
    text-shadow: #000000 0px 0px 5px;
}

.card-login{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.3) !important;
}

.card-close-btn {
    opacity: 0.3;
    border: none;
    background-color: transparent;
    font-size: 15pt;
}
.card-close-btn:hover {
    opacity: 1;
}

.card-login-footer{
    color: #ffffff;
    text-shadow: #000000 0px 0px 5px;
}
.card-login-footer a{
    color: #000000;
    text-shadow: #ffffff 0px 0px 10px;
    font-weight: bold;
}
    
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
    
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
    
.card-login-header h3{
    color: white;
    text-align: left;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black !important;     
    background-color: #FFC312 !important;     
    width: 100px !important;     
}

.login_btn:hover{
    color: black;
    background-color: white;
}
    
    
.links a{
    margin-left: 4px;
}

.form-error {
    text-align: left;
    color: red;
    background-color: #fff;
    padding-left:5px;
}

.content {
    overflow: auto;
}

.bg-white {
    background-color: #fff !important;
}

.hover1 {
    opacity: 0.8;
}

.hover1:hover {
    opacity: 1;
}

button.active, button.btnnav:hover {
    border-top: 2px solid rgb(31, 29, 29);
    border-bottom: 2px solid rgb(31, 29, 29);
    border-radius: 0;
}

@media (min-width: 1025px) {
    .landing-text h1 {
        font-size: 500%;
    }
}
/*##Device = Tablets, Ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
    .landing-text h1 {
        font-size: 500%;
    }
}
/*##Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    .home {
        height: 220%;
    }
    .landing-text h4 {
        font-size: 140%;
    }
}

/*##Device = Most of the Smartphones Mobiles (Portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
    .card-login{
        width: 98% !important;
    }
    .home {
        padding-top: 23%;
    }
    .landing-text h4 {
        font-size: 160%;
    }
}
/*##hape mahal*/
@media (min-width: 400px) and (max-width: 480px) {
    .landing-text h4 {
        font-size: 170%;
    }
}


.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .25rem !important;
    font-size: .875rem !important;
    line-height: .5 !important;
    border-radius: .1rem !important;
  }

  .btn-group-xxs > .btn, .btn-xxs {
    padding: .15rem .3rem !important;
    font-size: .675rem !important;
    line-height: .3 !important;
    border-radius: .07rem !important;
  }

.custom-cb {
    -webkit-appearance:none;
    height:15px;
    width:15px;
    background:white;
    border-radius:3px;
    border:2px solid #555;
}
.custom-cb:checked {
    background: #abd;
}

.custom-rd {
    -webkit-appearance:none;
    height:15px;
    width:15px;
    background:white;
    border-radius:7px;
    border:2px solid #555;
}
.custom-rd:checked {
    background: #abd;
}






